.main-container{
  background-color: rgb(51, 85, 85);
  height: 100%;
}
.mainHeader{
  text-align: center;
  color: wheat;
  font-size: 40px;
  background-color: rgb(51, 85, 85);
}

.mainHeader h1{
  letter-spacing: 40px;
  text-transform: uppercase;
}


.cardContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  
}

.grid-item{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.formContainer{
 text-align: center;
}


.form-control{
  margin-top: 10px;
  text-align: center;
}

#inputText{
  width: 10%;
}

.btn {
  margin-top: 10px;
  width: 70%;
}

.userCard{
  border: 5px solid black;
  text-align: center;
 
}

.userCard i{
  font-size: 32px;
}

.userCard i:hover{
  cursor: pointer;
  color: black;
}